* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
section {
  background-color: #101010;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
}
.info {
  width: 30%;
  font-size: 80px;
  color: whitesmoke;
  z-index: 2;
  margin-left: -150px;
}
.img {
  width: 70%;
  height: 800px;
  border-radius: 12px;
  overflow: hidden;
}
